<!DOCTYPE html>
<hmtl>
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link rel = "stylesheet"
			type = "text/css"
			href = "../static/profile.css">
		<link href="https://fonts.googleapis.com/css?family**FONTS HERE**" rel="stylesheet">
		<title>Profile</title>
	</head>

	<body id = "body">
	<div id = "almost-everything" style = "height: 100%">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 50px">

		  <a class="navbar-brand" href="/main" style = "color: white">

			  {% if current_user.is_authenticated %}
			  Welcome to HistoryBox, {{ current_user.name }}!

			  {% else %}
			  	Welcome to HistoryBox!
			  {% endif %}

		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">

		    <ul class="navbar-nav">
				{% if current_user.is_authenticated %}
				<li class="nav-item active">
		        	<a class="nav-link" href="/account/{{ current_user.username }}" style = "color: white">My Account <span class="sr-only">(current)</span></a>
		      	</li>
				{% endif %}

		    <!--  	<li class="nav-item dropdown">
		        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "color: white">Account</a>

		        		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          		<a class="dropdown-item" href="profile_a.html" style = "color: black">View Profile</a>
		          			<a class="dropdown-item" href="#" style = "color: black">Settings</a>
		        		</div>

		      	</li> -->

		      	<li class="nav-item dropdown">
		        	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "color: white">About</a>

		        		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          			<a class="dropdown-item" href="/about" style = "color: black">About Us</a>
						</div>
		      	</li>

		      	<li class="nav-item active" style = "position: absolute; right: 50px">
					{% if current_user.is_authenticated %}
			  			<a class="nav-link" href="/logout" style = "color: white"> Log Out </a> <span class="sr-only">(current)</span></a>
					{% else %}
						<a class="nav-link" href="/login" style = "color: white"> Log In </a> <span class="sr-only">(current)</span></a>
					{% endif %}

		      	</li>

		    </ul>

		  </div>
		</nav>



	<div id = "user-info" class = "card">

		<img class="card-img-top" src = "{{ profilePicUrl }}" id = "profile-picture">



		<div id = "user-data" class = "card">



			<div class = "card-header">{{ name }} {{ lastname }}</div>

			{% if current_user.username == username %}

				<a
					href="/change"
					id = "new-pic-button" class="btn btn-info"> Change Profile Picture! </a>

			{% endif %}

			</div>
		</div>
	</div>

    <div id = "liked-photos">

      <h2 style = "padding-left: 30px; padding-top: 30px">Likes:</h2>

	  {% for picSource in picsLiked %}
      <img src="{{ picSource }}" style = "margin-top: 20px; margin-left: 20px; margin-right: 20px; height: 170px; width: auto;">
      {% endfor %}

	  <h2 style = "padding-left: 30px; padding-top: 30px">Dislikes:</h2>

	  {% for picSource in picsUnliked %}
      <img src="{{ picSource }}" style = "margin-top: 20px; margin-left: 20px; margin-right: 20px; height: 170px; width: auto;">
      {% endfor %}

    </div>




    	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</div>
	</body>

	<script src= "../static/js/profile.js"></script>
</html>
